In [1]:
import pandas as pd
import numpy as np

In [2]:
#what is Concatenation - Concatenation is the technique of combining two strings

In [3]:
#concatenation of Numpy Arrays
A1 = np.arange(25).reshape(5,5)
B1 = np.random.randn(25).reshape(5,5)

In [4]:
print(A1)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

In [5]:
print(B1)

[[ 0.03887515  1.29821266  1.26392745 -0.07700643 -1.05490545]
 [ 0.76636443  0.39676808 -2.6409916  -0.13941327  0.67863523]
 [ 0.95199277  1.00817692 -0.33241182  0.48328134  0.15381079]
 [-0.04629485 -1.44605202 -1.58760958 -1.29719649 -0.35419526]
 [ 0.64179625 -0.73165368  0.34400679  0.76114848  0.72781484]]

In [6]:
np.concatenate([A1,B1], axis=1)

array([[ 0.        ,  1.        ,  2.        ,  3.        ,  4.        ,
         0.03887515,  1.29821266,  1.26392745, -0.07700643, -1.05490545],
       [ 5.        ,  6.        ,  7.        ,  8.        ,  9.        ,
         0.76636443,  0.39676808, -2.6409916 , -0.13941327,  0.67863523],
       [10.        , 11.        , 12.        , 13.        , 14.        ,
         0.95199277,  1.00817692, -0.33241182,  0.48328134,  0.15381079],
       [15.        , 16.        , 17.        , 18.        , 19.        ,
        -0.04629485, -1.44605202, -1.58760958, -1.29719649, -0.35419526],
       [20.        , 21.        , 22.        , 23.        , 24.        ,
         0.64179625, -0.73165368,  0.34400679,  0.76114848,  0.72781484]])

In [7]:
np.concatenate([A1,B1])

array([[ 0.        ,  1.        ,  2.        ,  3.        ,  4.        ],
       [ 5.        ,  6.        ,  7.        ,  8.        ,  9.        ],
       [10.        , 11.        , 12.        , 13.        , 14.        ],
       [15.        , 16.        , 17.        , 18.        , 19.        ],
       [20.        , 21.        , 22.        , 23.        , 24.        ],
       [ 0.03887515,  1.29821266,  1.26392745, -0.07700643, -1.05490545],
       [ 0.76636443,  0.39676808, -2.6409916 , -0.13941327,  0.67863523],
       [ 0.95199277,  1.00817692, -0.33241182,  0.48328134,  0.15381079],
       [-0.04629485, -1.44605202, -1.58760958, -1.29719649, -0.35419526],
       [ 0.64179625, -0.73165368,  0.34400679,  0.76114848,  0.72781484]])

In [8]:
#Concatenate a panda Series
s1 = pd.Series([100,200,300], index=list('ABC'))
s2 = pd.Series([400,500], index=list('DE'))
print(s1)

A    100
B    200
C    300
dtype: int64

In [9]:
print(s2)

D    400
E    500
dtype: int64

In [10]:
pd.concat([s1,s2])

A    100
B    200
C    300
D    400
E    500
dtype: int64

In [11]:
pd.concat([s1,s2], axis=1)

       0      1
A  100.0    NaN
B  200.0    NaN
C  300.0    NaN
D    NaN  400.0
E    NaN  500.0

In [15]:
#Concatenation of Pandas DataFrame

df1 = pd.DataFrame(np.random.randn(12).reshape(4,3), columns=list('ABC'))
df2 = pd.DataFrame(np.arange(9).reshape(3,3), columns=list('ABD'))
print(df1)

          A         B         C
0  1.195746  0.027604  0.040573
1  0.817013 -0.968532  0.848006
2 -0.269553 -0.055116 -0.086738
3  1.039535  1.175220 -0.767991

In [16]:
print(df2)

   A  B  D
0  0  1  2
1  3  4  5
2  6  7  8

In [17]:
pd.concat([df1, df2])

          A         B         C    D
0  1.195746  0.027604  0.040573  NaN
1  0.817013 -0.968532  0.848006  NaN
2 -0.269553 -0.055116 -0.086738  NaN
3  1.039535  1.175220 -0.767991  NaN
0  0.000000  1.000000       NaN  2.0
1  3.000000  4.000000       NaN  5.0
2  6.000000  7.000000       NaN  8.0