In [1]:
import pandas as pd
import numpy as np

In [5]:
ser1 = pd.Series([200,400,600,800,100,500,300], index=['a','b','c','d','e','f','g'])
print(ser1)

a    200
b    400
c    600
d    800
e    100
f    500
g    300
dtype: int64

In [6]:
#Accessing single element of the series
ser1['c']

600

In [7]:
ser1['f']

500

In [8]:
#Accessing multiple element of the series
ser1[['a', 'e']]

a    200
e    100
dtype: int64

In [11]:
#Using Numerical indexes in series
ser1[[0, 5]]

a    200
f    500
dtype: int64

In [12]:
#Conditional indexes
ser1[ser1 > 250]

b    400
c    600
d    800
f    500
g    300
dtype: int64

In [13]:
ser1[ser1 == 100]

e    100
dtype: int64

In [16]:
#Accessing one or more column data from a dataframe
df1 = pd.DataFrame(np.arange(12).reshape(3,4), index=['car','bike','tricycle'], columns=['c1','c2','c3','c4'])
print(df1)

          c1  c2  c3  c4
car        0   1   2   3
bike       4   5   6   7
tricycle   8   9  10  11

In [17]:
#accessing single column of a dataframe
df1['c4']

car          3
bike         7
tricycle    11
Name: c4, dtype: int32

In [18]:
#accessing multiple columns of a dataframe
df1[['c1','c2']]

          c1  c2
car        0   1
bike       4   5
tricycle   8   9

In [19]:
#boolean operation in dataframe
df1 > 5

             c1     c2     c3     c4
car       False  False  False  False
bike      False  False   True   True
tricycle   True   True   True   True

In [21]:
#using the dataframe.loc[] attribute
#.loc[] attribute is frequently use to access the elements of the array, 
#we can access a complete row,complete column,or the individual element. It gives us a lot of flexibility 

#using .loc[] to access the rows
df1.loc['bike']

c1    4
c2    5
c3    6
c4    7
Name: bike, dtype: int32

In [22]:
df1.loc[:, 'c2']

car         1
bike        5
tricycle    9
Name: c2, dtype: int32

In [23]:
#accessing individual element of a dataframe
df1.loc['bike','c3']

6