In [1]:
import pandas as pd
import numpy as np

In [2]:
excel = pd.ExcelFile('InputFile.xlsx')

#read excel file
df1 = pd.read_excel(excel,'Sheet1')
#convert excel to csv
df1.to_csv('csv1.csv',sep=',')
csv1 = pd.read_csv('csv1.csv')
print(csv1)

   Unnamed: 0   OrderDate    Item  Units  Unit Cost   Total
0           0  2019-01-06  Pencil     95       1.99  189.05
1           1  2019-01-23  Binder     50      19.99  999.50
2           2  2019-02-09  Pencil     36       4.99  179.64
3           3  2019-02-26     Pen     27      19.99  539.73
4           4  2019-03-15  Pencil     56       2.99  167.44
5           5  2019-04-01  Binder     60       4.99  299.40
6           6  2019-04-18  Pencil     75       1.99  149.25
7           7  2019-05-05  Pencil     90       4.99  449.10
8           8  2019-05-22  Pencil     32       1.99   63.68
9           9  2019-06-08  Binder     60       8.99  539.40

In [3]:
#read excel file
df2=pd.read_excel(excel,'Sheet2')
#convert excel to csv
df2.to_csv('csv2.csv',sep=',')
csv2=pd.read_csv('csv2.csv')
print(csv2)

   Unnamed: 0  DEPTID  EMPID   NAME  BONUS
0           0      10      1    ABC    500
1           1      20      2    XYZ    500
2           2      30      3    PQR    500
3           3      40      4    STU    500
4           4      50      5   DSDS    500
5           5      60      6   CVSD    500
6           6      70      7   DCSD    500
7           7      80      8    DCX    500
8           8      90      9  DSCSD    500
9           9     100     10  SDCXC    500

In [4]:
#read excel file
df3=pd.read_excel(excel,'Sheet3')
#convert excel to csv
df3.to_csv('csv3.csv',sep=',')
csv3=pd.read_csv('csv3.csv')
print(csv3)

   Unnamed: 0  Order ID  Order Date  Order Quantity      Sales  \
0           0         3       40464               6   261.5400
1           1         6       40959               2     6.9300
2           2        32       40739              26  2808.0800
3           3        32       40739              24  1761.4000
4           4        32       40739              23   160.2335
5           5        32       40739              15   140.5600
6           6        35       40838              30   288.5600
7           7        35       40838              14  1892.8480
8           8        36       40849              46  2484.7455
9           9        65       40619              32  3812.7300

        Ship Mode    Profit  Unit Price Customer Segment Product Category
0     Regular Air  -213.250       38.94   Small Business  Office Supplies
1     Regular Air    -4.640        2.08        Corporate  Office Supplies
2     Regular Air  1054.820      107.53        Corporate        Furniture
3  Delivery Truck -1748.560       70.89        Corporate        Furniture
4     Regular Air   -85.129        7.99        Corporate       Technology
5     Regular Air  -128.380        8.46        Corporate       Technology
6     Regular Air    60.720        9.11        Corporate  Office Supplies
7     Regular Air    48.987      155.99        Corporate       Technology
8     Regular Air   657.477       65.99      Home Office       Technology
9     Regular Air  1470.300      115.79        Corporate       Technology

In [5]:
#read excel file
df4=pd.read_excel(excel,'Sheet4')
#convert excel to csv
df4.to_csv('csv4.csv',sep=',')
csv4=pd.read_csv('csv4.csv')
print(csv4)

   Unnamed: 0   NAME  EMPID  SALARY
0           0    ABC      1   10000
1           1    XYZ      2   10000
2           2    PQR      3   10000
3           3    STU      4   10000
4           4   DSDS      5   10000
5           5   CVSD      6   10000
6           6   DCSD      7   10000
7           7    DCX      8   10000
8           8  DSCSD      9   10000
9           9  SDCXC     10   10000

In [6]:
#read excel file
df5=pd.read_excel(excel,'Sheet5')
#convert excel to csv
df5.to_csv('csv5.csv',sep=',')
csv5=pd.read_csv('csv5.csv')
print(csv5)

   Unnamed: 0          Market  Retail value   Physical  Digital  \
0           0   United States         5916.1      0.15     0.75
1           1           Japan         2727.5      0.72     0.21
2           2         Germany         1323.1      0.43     0.36
3           3  United Kingdom         1310.7      0.30     0.50
4           4          France          925.1      0.36     0.34
5           5     South Korea          494.4      0.37     0.59
6           6          Canada          437.2      0.21     0.65
7           7       Australia          412.9      0.19     0.68
8           8          Brazil          295.8      0.05     0.60
9           9           China          292.3      0.03     0.90

   Performance Rights  Synchronization
0                0.07             0.03
1                0.05             0.01
2                0.20             0.01
3                0.18             0.02
4                0.27             0.03
5                0.04             0.00
6                0.14             0.01
7                0.11             0.02
8                0.34             0.00
9                0.07             0.00

In [7]:
#read excel file
df6=pd.read_excel(excel,'Sheet6')
#convert excel to csv
df6.to_csv('csv6.csv',sep=',')
csv6=pd.read_csv('csv6.csv')
print(csv6)

   Unnamed: 0   Season  Bayern  Real Madrid  Barcelona  MUN
0           0  2001–02       1            6          2    3
1           1  2002–03       2            4          5    1
2           2  2003–04       1            2          4    3
3           3  2004–05       2            1          5    3
4           4  2005–06       4            1          3    2
5           5  2006–07       4            2          3    1
6           6  2007–08       3            2          4    1
7           7  2008–09       4            3          2    1
8           8  2009–10       3            1          7    2
9           9  2010–11       2            5          0    3

In [8]:
#read excel file
df7=pd.read_excel(excel,'Sheet7')
#convert excel to csv
df7.to_csv('csv7.csv',sep=',')
csv7=pd.read_csv('csv7.csv')
print(csv7)

    Unnamed: 0  No.   Season           Champion
0            0    1  2009–10            Chelsea
1            1    2  2010–11  Manchester United
2            2    3  2011–12    Manchester City
3            3    4  2012–13  Manchester United
4            4    5  2013–14    Manchester City
5            5    6  2014–15            Chelsea
6            6    7  2015–16     Leicester City
7            7    8  2016–17            Chelsea
8            8    9  2017–18    Manchester City
9            9   10  2018–19    Manchester City
10          10   11  2019–20          Liverpool

In [9]:
#read excel file
df8=pd.read_excel(excel,'Sheet8')
#convert excel to csv
df8.to_csv('csv8.csv',sep=',')
csv8=pd.read_csv('csv8.csv')
print(csv8)

   Unnamed: 0   OrderDate   Region      Rep     Item  Units  Unit Cost  \
0           0  2014-09-01  Central    Smith     Desk      2     125.00
1           1  2015-06-17  Central   Kivell     Desk      5     125.00
2           2  2015-09-10  Central     Gill   Pencil      7       1.29
3           3  2015-11-17  Central  Jardine   Binder     11       4.99
4           4  2015-10-31  Central  Andrews   Pencil     14       1.29
5           5  2014-02-26  Central     Gill      Pen     27      19.99
6           6  2014-10-05  Central   Morgan   Binder     28       8.99
7           7  2015-12-21  Central  Andrews   Binder     28       4.99
8           8  2014-02-09  Central  Jardine   Pencil     36       4.99
9           9  2015-08-07  Central   Kivell  Pen Set     42      23.95

     Total
0   250.00
1   625.00
2     9.03
3    54.89
4    18.06
5   539.73
6   251.72
7   139.72
8   179.64
9  1005.90

In [10]:
#read excel file
df9=pd.read_excel(excel,'Sheet9')
#convert excel to csv
df9.to_csv('csv9.csv',sep=',')
csv9=pd.read_csv('csv9.csv')
print(csv9)

   Unnamed: 0 First Name  Last Name  Gender        Country  Age        Date  \
0           0      Dulce      Abril  Female  United States   32  15/10/2017
1           1       Mara  Hashimoto  Female  Great Britain   25  16/08/2016
2           2     Philip       Gent    Male         France   36  21/05/2015
3           3   Kathleen     Hanner  Female  United States   25  15/10/2017
4           4    Nereida    Magwood  Female  United States   58  16/08/2016
5           5     Gaston      Brumm    Male  United States   24  21/05/2015
6           6       Etta       Hurn  Female  Great Britain   56  15/10/2017
7           7    Earlean     Melgar  Female  United States   27  16/08/2016
8           8   Vincenza    Weiland  Female  United States   40  21/05/2015

     Id
0  1562
1  1582
2  2587
3  3549
4  2468
5  2554
6  3598
7  2456
8  6548

In [11]:
#read excel file
df10=pd.read_excel(excel,'Sheet10')
#convert excel to csv
df10.to_csv('csv10.csv',sep=',')
csv10=pd.read_csv('csv10.csv')
print(csv10)

   Unnamed: 0   Date Sales Zone       Fruit  Quantity  UNIT Price
0           0  40592      South  Strawberry        70         500
1           1  40580      South       Lemon        45         250
2           2  40565      North       Apple        62         100
3           3  40562      North  Watermelon        78         300
4           4  40665       East      Orange        55          50
5           5  40641      North   Pineapple        70         250
6           6  40650       East       Peach        60        1000
7           7  40713      North      Carrot        35         200
8           8  40612       East      Orange        59          50
9           9  40579      South  Strawberry        59         500